<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="./styles/style.css">
    
</head>
<body>
    <header>
        <div class="content-wrapper header-flex movie-header">
            <a href="index.html"><img src="./res/logo.png" alt="My Movie Database logotype" id="movieDataBaseLogo"></a>      
        </div>
    </header>

    <section class="movie-details">
        <div class="movie__content-wrapper">
            <div class="movie-card" id="specificMovieCard">
                <h2 id="movie__card-title"></h2>
                <img id="movie__card-posterImg" alt="">
                <p id="movie__card-year"></p>
                <p id="movie__card-plot"></p>
            </div>
        </div>
    </section>
    

    <script type="module" src="./scripts/script.js"></script>
</body>
</html>