/* Variables */
:root {
    --header-grey: #121212;
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
    --text-blue: #5595E7;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-black);
    max-width: 100%;
}


/* Header */
.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.header img {
    width: 150px;
    background-color: yellow;
}

.header form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

/* Carousel */
.carousel {
    margin: auto;
    margin-top: 0.5rem;
    width: 60%;
    aspect-ratio: 3/2;
    position: relative;
    background-color: var(--primary-grey);
    padding: 2rem;
    border-radius: 1rem;
}
.carousel__slide {
    position: absolute;
    margin: auto;
    width: 80%;
    inset: 0;
    visibility: hidden;
    aspect-ratio: 3/2;
    transition: 200ms visibility ease-in-out;
}

.carousel__slide[data-active] {
    visibility: visible;
}

.carousel__slide iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__btn {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--text-yellow);
    background: none;
    border: none;
}

.carousel__btn:hover,
.carousel__btn:focus {
    color: var(--primary-white);
}

.carousel__btn.prev {
    left: 1rem;
}

.carousel__btn.next {
    right: 1rem;
}



.popular__title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    color: yellow;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3rem;
}


.popular__card-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

.movie-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    background-color: var(--primary-grey);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
    
}

.movie-card:hover {
    margin-top: 5rem;
    background-color: rgb(63, 63, 63);
    padding: 10px;
    transform: scale(1.02);
    border-radius: 5px;
}

.movie-card h3 {
    letter-spacing: 3px;
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.movie-card p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1rem;
    color: black;
    font-weight: 600;
}

.movie-card a {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: yellow;
    font-weight: 600;
    letter-spacing: 7px;
    margin-top: 1rem;
}

.movie-card p {
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

.newMovieContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    background-color: var(--primary-grey);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}

.newMovieContainer:hover {
    transform: scale(1.02);
    background-color: rgb(63, 63, 63);
}

.newMovieContainer h3 {
    letter-spacing: 3px;
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
}



.newMovieContainer p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1rem;
    color: yellow;
    font-weight: 600;
}

#resultsContainer {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
}


#specificMovieCard {
    width: 800px;
    height: 300px;
}

#movie__card-title {
    letter-spacing: 3px;
    margin-bottom: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.movie__content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


#movie__card-year {
    color: yellow;
}

#movie__card-plot {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1rem;
    color: white;
    font-weight: 600;
}

#movieDataBaseLogo {
    width: 300px;
    height: auto;
    margin-top: 2rem;
}

.movie-header {
    display: flex;
    justify-content: center;
}



/* Media Queries */

@media screen and (max-width: 1380px) {
    #resultsContainer {
        max-width: 100%;
        grid-template-columns: repeat(2, 5fr);
    }

    .content-wrapper {
        max-width: 100%;
    }

    .carousel {
        max-width: 100%;
    }
}

@media screen and (max-width: 1100px) {

    .content-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    #resultsContainer {
        max-width: 100%;
    }

    .newMovieContainer{
        max-width: 100%;
    }

    .popular__card-container {
        grid-template-columns: repeat(2, 5fr);
        max-width: 100%;
    }

    .carousel {
        max-width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    #resultsContainer {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .popular__card-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .carousel {
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    #resultsContainer {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .popular__card-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .carousel {
        max-width: 100%;
    }
}

/* Utils */
.content-wrapper {
    width: 1280px;
    margin: 0 auto;
}

.d-none {
    display: none;
}
